{% extends 'base.html' %}
{% load static %}
{% block content %}
<h5>"Students Legal Document Entry Portal"</h5>
<header class="text-black text-center">
    <img src={% static 'img/block1.jpg' %} class="img-fluid" alt='image'>
</header>
 <form class="row g-3 p-3" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="column">
      <div class="form-check-inline">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="Nepali" checked>
        <label class="form-check-label" for="flexRadioDefault1">
          Nepali
        </label>
      </div>
      <div class="form-check-inline">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="International">
        <label class="form-check-label" for="flexRadioDefault2">
          International
        </label>
      </div>
  </div>

  <!-- Drop Down -->
  <br>
  <br>
  

  <!-- Image filed django -->
  <div class="column">
    <div class="col-md-2 col-sm-12 col-12 float-end">
      <label for="formFile" class="form-label">* Upload Photo</label>
      <input class="form-control" type="file" id="formFile" name="userimg" required>
</div>
</div>

<br>
<br>
<br>
  <div class="row">
  <div class="col-md-4">
    <label for="inputState" class="form-label">* Graduate School/Campus</label>
    <select id="inputState" class="form-select" name="school" required>
      <option selected>Graduate School of Education</option>
    </select>
  </div>
</div>


     <div class="col-md-4">
         <label for="validationDefault01" class="form-label">*First Name</label>
         <input type="text" class="form-control" id="validationDefault01" name="firstname" required>
       </div>
       <div class="col-md-4">
         <label for="validationDefault02" class="form-label">Middle Name</label>
         <input type="text" class="form-control" id="validationDefault02" name="middlename">
       </div>
       <div class="col-md-4">
        <label for="validationDefault02" class="form-label">*Last Name</label>
        <input type="text" class="form-control" id="validationDefault02" name="lastname" required>
      </div>

      <div class="col-md-4">
        <label for="validationDefault02" class="form-label">*Citizenship No.</label>
        <input type="number" class="form-control" id="validationDefault02" name="citizenship" required>
      </div>
      <div class="col-md-4">
        <label for="validationDefault02" class="form-label">*Email</label>
        <input type="text" class="form-control" id="validationDefault02" name="email" required>
      </div>

      <div class="col-md-4">
        <label for="validationDefault02" class="form-label">*Contact No</label>
        <input type="number" class="form-control" id="validationDefault02" name="contact" required>
      </div>

      <div class="col-md-4">
        <label for="inputState" class="form-label">*Gender</label>
        <select class="form-control" name="gender" required>
          <option selected>Choose...</option>
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>

      <div class="col-md-4">
        <label for="inputState" class="form-label">Blood Group</label>
        <select id="inputState" class="form-select" name="blood">
          <option selected>Choose...</option>
          <option name="A+" value="A+">A+</option>
          <option name="A-" value="A-">A-</option>
          <option name="B+" value="B+">B+</option>
          <option name="B-" value="B-">B-</option>
          <option name="O+" value="O+">O+</option>
          <option name="O-" value="O-">O-</option>
          <option name="AB+" value="AB+">AB+</option>
          <option name="AB-" value="AB-">AB-</option>
        </select>
      </div>
      
      <div class="col-md-4">
        <label for="inputState" class="form-label">*Ethnicity</label>
        <select id="inputState" class="form-select" name="eth" required>
          <option selected>Choose...</option>
          <option name="Brahmin/Chhetri" value="Brahmin/Chhetri">Brahmin/Chhetri</option>
          <option name="Janajati" value="Janajati">Janajati</option>
          <option name="Dalit" value="Dalit">Dalit</option>
        </select>
      </div>

      <div class="col-md-4">
        <label for="inputState" class="form-label">Religion</label>
        <select id="inputState" class="form-select" name="rel">
          <option selected>Choose...</option>
          <option name="Hinduism" value="Hinduism">Hinduism</option>
          <option name="Buddhism" value="Buddhism">Buddhism</option>
          <option name="Islam" value="Islam">Islam</option>
          <option name="Christianity" value="Christianity">Christianity</option>
        </select>
      </div>

      <div class="col-md-4">
        <label for="validationDefault02" class="form-label">* Date of Birth (BS)</label>
        <input type="text" class="form-control" id="validationDefault02" name="bs" placeholder="YYYY-MM-DD" required>
      </div>

      <div class="col-md-4">
        <label for="validationDefault02" class="form-label">* Date of Birth (AD)</label>
        <input type="date" class="form-control" id="validationDefault02" name="ad" placeholder="DD-MM-YYYY" required>
      </div>


      <div class="col-md-4">
        <label for="inputState" class="form-label">* Batch</label>
        <select id="inputState" class="form-select" name="batch" required>
          <option selected>Choose...</option>
          <option name="2023" value="2023">2023</option>
          <option name="2022" value="2022">2022</option>
          <option name="2021" value="2021">2021</option>
          <option name="2020" value="2020">2020</option>
          <option name="2019" value="2019">2019</option>
          <option name="2018" value="2018">2018</option>
          <option name="2017" value="2017">2017</option>
          <option name="2016" value="2016">2016</option>
          <option name="2015" value="2015">2015</option>
          <option name="2014" value="2014">2014</option>
        </select>
      </div>
    

         <div class="col-md-4">
        <label for="validationDefault02" class="form-label">Disability Status</label>
        <input type="text" class="form-control" id="validationDefault02" name="disability" >
      </div>

      <div class="col-md-4">
        <label for="validationDefault02" class="form-label">Sponsorship Status</label>
        <input type="text" class="form-control" id="validationDefault02" name="sponsorship" >
      </div>
    
      <div class="col-md-4">
        <label for="validationDefault02" class="form-label">Rural District</label>
        <input type="text" class="form-control" id="validationDefault02" name="rural" >
      </div>

      
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="defaultCheck1" name="martial" value="True">
        <label class="form-check-label" for="defaultCheck1">
            Martyr Lineage
        </label>
      </div>
     <!-- Block 2 -->
      <header class="text-black text-center">
        <img src={% static 'img/block2.jpg' %} class="img-fluid" alt='image'>
    </header>
      <div class="col-md-4">
        <label for="inputState" class="form-label">* School</label>
        <select id="inputState" class="form-select" name="school" required>
          <option selected>Choose...</option>
          <option name="Graudate School of Education">Graduate School of Education</option>
        </select>
      </div>

      <div class="col-md-4">
        <label for="inputState" class="form-label">* Level</label>
        <select id="inputState" class="form-select" name="level" required>
          <option selected>Choose...</option>
          <option name="bachelor">Bachelor</option>
          <option name="master">Master</option>
        </select>
      </div>

      <div class="col-md-4">
        <label for="inputState" class="form-label">* Program</label>
        <select id="inputState" class="form-select" name="program" required>
          <option selected>Choose...</option>
          <option name="Bachelor of Nepali Education">Bachelor of Nepali Education</option>
          <option name="Bachelor of Population Education">Bachelor of Population Education</option>
          <option name="Bachelor of Science Education">Bachelor of Science Education</option>
          <option name="Bachelor of Mathematics">Bachelor of Mathematics</option>
          <option name="Bachelor of Health Education">Bachelor of Health Education</option>
          <option name="Bachelor of English">Bachelor of English</option>
          <option name="Master of Population">Master of Population</option>
          <option name="Master of Nepali Education">Master of Nepali Education</option>
          <option name="Master of Mathematics Education">Master of Mathematics Education</option>
          <option name="Master of English Education">Master of English Education</option>
          <option name="Master of Health Education">Master of Health Education</option>
          <option name="Master of Health Education">Bachelor of Special Need Education</option>
        </select>
      </div>

      <div class="col-md-4">
        <label for="inputState" class="form-label">* Semester</label>
        <select id="inputState" class="form-select" name="semester" required>
          <option selected>Choose...</option>
          <option>First</option>
          <option>Second</option>
          <option>Third</option>
          <option>Fourth</option>
          <option>Fifth</option>
          <option>Sixth</option>
          <option>Eighth</option>

        </select>
      </div>

      <div class="col-md-4">
        <label for="inputState" class="form-label">* Status</label>
        <select id="inputState" class="form-select" name="status" required>
          <option selected>Choose...</option>
          <option>Running</option>
          <option>In Active</option>

        </select>
      </div>
      <!-- Block 3 -->
      <header class="text-black text-center">
        <img src={% static 'img/block3.jpg' %} class="img-fluid" alt='image'>
    </header>
      <div class="col-md-2 flex-nowrap">
        <label for="inputState" class="form-label">* Degree Name</label>
        <select id="inputState" class="form-select" name="degname" required>
          <!-- <option selected>Choose...</option> -->
          <!-- <option>Bachelor</option> -->
          <!-- <option>+2/SLC/Intermediate</option> -->
          <option>SLC/SEE</option>

        </select>
      </div>
      <!-- Education history -->
      <div class="col-md-2">
        <label for="validationDefault02" class="form-label">* Board/University</label>
        <input type="text" class="form-control" id="validationDefault02" name="university" required>
      </div>
      <div class="col-md-2">
        <label for="validationDefault02" class="form-label">* Grade/Division</label>
        <input type="text" class="form-control" id="validationDefault02" name="grade" required>
      </div>
      <div class="col-md-2">
        <label for="validationDefault02" class="form-label">* Institution Name</label>
        <input type="text" class="form-control" id="validationDefault02" name="institution" required>
      </div>
      <div class="col-md-2">
        <label for="inputState" class="form-label">* Insitution Type</label>
        <select id="inputState" class="form-select" name="instype" required>
          <option selected>Choose...</option>
          <option name="private">Private</option>
          <option name="public">Public</option>
        </select>
      </div>
    
      <div class="col-md-2">
            <label for="formFile" class="form-label">* Certificate of Completion</label>
            <input class="form-control" type="file" id="formFile" name="coc" required>
      </div>
      <div class="col-md-2">
        <label for="formFile" class="form-label">* Transcript</label>
        <input class="form-control" type="file" id="formFile" name="tsc" required>
  </div>
      <div class="col-md-2">
        <label for="formFile" class="form-label">Provisional</label>
        <input class="form-control" type="file" id="formFile" name="prl">
  </div>

  <div class="col-md-2">
    <label for="formFile" class="form-label">Migration</label>
    <input class="form-control" type="file" id="formFile" name="mgr">
</div>

<div class="col-md-2">
    <label for="validationDefault02" class="form-label">* CGPA/Percentage</label>
    <input type="text" class="form-control" id="validationDefault02" name="cgpa" required>
  </div>

  <div class="col-md-2">
    <label for="inputState" class="form-label">* Enrollment Year (AD)</label>
    <input type="date" class="form-control" id="validationDefault02" name="enrollmentyr" required>
   
  </div>

  <div class="col-md-2">
    <label for="inputState" class="form-label">* Completion Year (AD)</label>
    <input type="date" class="form-control" id="validationDefault02" name="completionyr" required>
   
  </div>
<hr style="height: 2px;">
  <div class="col-md-2 flex-nowrap">
    <label for="inputState" class="form-label">* Degree Name</label>
    <select id="inputState" class="form-select" name="degname1" required>
      <!-- <option selected>Choose...</option> -->
      <!-- <option>Bachelor</option> -->
      <option>+2/SLC/Intermediate</option>
      <!-- <option>SLC/SEE</option> -->

    </select>
  </div>
  <!-- Education history -->
  <div class="col-md-2">
    <label for="validationDefault02" class="form-label">* Board/University</label>
    <input type="text" class="form-control" id="validationDefault02" name="university1" required>
  </div>
  <div class="col-md-2">
    <label for="validationDefault02" class="form-label">* Grade/Division</label>
    <input type="text" class="form-control" id="validationDefault02" name="grade1" required>
  </div>
  <div class="col-md-2">
    <label for="validationDefault02" class="form-label">* Institution Name</label>
    <input type="text" class="form-control" id="validationDefault02" name="institution1" required>
  </div>
  <div class="col-md-2">
    <label for="inputState" class="form-label">* Insitution Type</label>
    <select id="inputState" class="form-select" name="instype1" required>
      <option selected>Choose...</option>
      <option>Private</option>
      <option>Public</option>
    </select>
  </div>
  
  <div class="col-md-2">
        <label for="formFile" class="form-label">* Certificate of Completion</label>
        <input class="form-control" type="file" id="formFile" name="coc1" required>
  </div>
  <div class="col-md-2">
    <label for="formFile" class="form-label">* Transcript</label>
    <input class="form-control" type="file" id="formFile" name="tsc1" required>
</div>
  <div class="col-md-2">
    <label for="formFile" class="form-label">Provisional</label>
    <input class="form-control" type="file" id="formFile" name="prl1">
</div>

<div class="col-md-2">
<label for="formFile" class="form-label">Migration</label>
<input class="form-control" type="file" id="formFile" name="mgr1">
</div>

<div class="col-md-2">
<label for="validationDefault02" class="form-label">CGPA/Percentage</label>
<input type="text" class="form-control" id="validationDefault02" name="cgp1" >
</div>

<div class="col-md-2">
<label for="inputState" class="form-label">Enrollment Year (AD)</label>
<input type="date" class="form-control" id="validationDefault02" name="enrollmentyr1" >

</div>

<div class="col-md-2">
<label for="inputState" class="form-label">Completion Year (AD)</label>
<input type="date" class="form-control" id="validationDefault02" name="completionyr1" >

</div>

<hr style="height: 2px;">
<div class="col-md-2 flex-nowrap">
    <label for="inputState" class="form-label">Degree Name</label>
    <select id="inputState" class="form-select" name="degname2">
      <!-- <option selected>Choose...</option> -->
      <option>Bachelor</option>
      <!-- <option>+2/SLC/Intermediate</option>
      <option>SLC/SEE</option> -->

    </select>
  </div>
  <!-- Education history -->
  <div class="col-md-2">
    <label for="validationDefault02" class="form-label">Board/University</label>
    <input type="text" class="form-control" id="validationDefault02" name="university2" >
  </div>
  <div class="col-md-2">
    <label for="validationDefault02" class="form-label">Grade/Division</label>
    <input type="text" class="form-control" id="validationDefault02" name="grade2" >
  </div>
  <div class="col-md-2">
    <label for="validationDefault02" class="form-label">Institution Name</label>
    <input type="text" class="form-control" id="validationDefault02" name="institution2" >
  </div>
  <div class="col-md-2">
    <label for="inputState" class="form-label">Insitution Type</label>
    <select id="inputState" class="form-select" name="instype2">
      <option selected>Choose...</option>
      <option>Private</option>
      <option>Public</option>
    </select>
  </div>
  
  <div class="col-md-2">
        <label for="formFile" class="form-label">Certificate of Completion</label>
        <input class="form-control" type="file" id="formFile" name="coc2">
  </div>
  <div class="col-md-2">
    <label for="formFile" class="form-label">Transcript</label>
    <input class="form-control" type="file" id="formFile" name="tsc2">
</div>
  <div class="col-md-2">
    <label for="formFile" class="form-label">Provisional</label>
    <input class="form-control" type="file" id="formFile" name="prl2">
</div>

<div class="col-md-2">
<label for="formFile" class="form-label">Migration</label>
<input class="form-control" type="file" id="formFile" name="mgr2">
</div>

<div class="col-md-2">
<label for="validationDefault02" class="form-label">CGPA/Percentage</label>
<input type="text" class="form-control" id="validationDefault02" name="cgpa2" >
</div>

<div class="col-md-2">
<label for="inputState" class="form-label">Enrollment Year (AD)</label>
<input type="date" class="form-control" id="validationDefault02" name="enrollmentyr2" >

</div>

<div class="col-md-2">
<label for="inputState" class="form-label">Completion Year (AD)</label>
<input type="date" class="form-control" id="validationDefault02" name="completionyr2" >

<!-- block 4 -->

</div>
  
<header class="text-black text-center">
    <img src={% static 'img/block4.jpg' %} class="img-fluid" alt='image'>
</header>
<div class="col-md-2">
    <label for="validationDefault02" class="form-label">Year (AD)</label>
    <input type="date" class="form-control" id="validationDefault02" name="ayear" >
  </div>
  <div class="col-md-2">
    <label for="validationDefault02" class="form-label">Title</label>
    <input type="text" class="form-control" id="validationDefault02" name="atitle" >
  </div>
  <div class="col-md-2">
    <label for="formFile" class="form-label">Certificate</label>
    <input class="form-control" type="file" id="formFile" name="acertificate">
    </div>
    <div class="col-md-2">
        <label for="validationDefault02" class="form-label">Remarks</label>
        <input type="text" class="form-control" id="validationDefault02" name="aremarks"3 >
      </div>

      <header class="text-black text-center">
        <img src={% static 'img/block5.jpg' %} class="img-fluid" alt='image'>
    </header>
      <div class="col-md-2">
          <label for="validationDefault02" class="form-label">* Father's Name</label>
          <input type="text" class="form-control" id="validationDefault02" name="fname" required>
        </div>
      
        <div class="col-md-2">
          <label for="validationDefault02" class="form-label">* Mother's Name</label>
          <input type="text" class="form-control" id="validationDefault02" name="mname" required>
        </div>

        <div class="col-md-2">
            <label for="validationDefault02" class="form-label">* Father's Phone</label>
            <input type="number" class="form-control" id="validationDefault02" name="fphone" required>
          </div>
        
          <div class="col-md-2">
            <label for="validationDefault02" class="form-label">* Mother's Phone</label>
            <input type="number" class="form-control" id="validationDefault02" name="mphone" required>
          </div>

          <div class="col-md-2">
            <label for="validationDefault02" class="form-label">Father's Email</label>
            <input type="text" class="form-control" id="validationDefault02" name="femail" >
          </div>

          <div class="col-md-2">
            <label for="validationDefault02" class="form-label">Mother's Email</label>
            <input type="text" class="form-control" id="validationDefault02" name="memail" >
          </div>

          <div class="col-md-2">
            <label for="validationDefault02" class="form-label">Father's Profession</label>
            <input type="text" class="form-control" id="validationDefault02" name="fprofession" >
          </div>
          <div class="col-md-2">
            <label for="validationDefault02" class="form-label">Mother's Profession</label>
            <input type="text" class="form-control" id="validationDefault02" name="mprofession" >
          </div>

          <div class="col-md-2">
            <label for="validationDefault02" class="form-label">* Emergency Contact Name</label>
            <input type="text" class="form-control" id="validationDefault02" name="eemergencycontatname" required>
          </div>
          <div class="col-md-2">
            <label for="validationDefault02" class="form-label">* Emergency Contact Number</label>
            <input type="number" class="form-control" id="validationDefault02" name="econtact" required>
          </div>

          <div class="col-md-2">
            <label for="validationDefault02" class="form-label">* Address</label>
            <input type="text" class="form-control" id="validationDefault02" name="addressfield" required>
          </div>
          
          <div class="col-md-2">
            <label for="validationDefault02" class="form-label">* Relation with Student</label>
            <input type="text" class="form-control" id="validationDefault02" name="rwstudent" required>
          </div>
     

          <header class="text-black text-center">
            <img src={% static 'img/block6.jpg' %} class="img-fluid" alt='image'>
        </header>
      <div class="col-md-2">
        <label for="inputState" class="form-label">* Province</label>
        <select id="inputState" class="form-select" name="provice" required>
          <option selected>Choose...</option>
          <option>Province 1</option>
          <option>Madhesh</option>
          <option>Bagmati</option>
          <option>Gandaki</option>
          <option>Lumbini</option>
          <option>Karnali</option>
        </select>
      </div>

      <div class="col-md-2">
        <label for="validationDefault02" class="form-label">* District</label>
        <input type="text" class="form-control" id="validationDefault02" name="district" required>
      </div>

      <div class="col-md-2">
        <label for="validationDefault02" class="form-label">* Palika/Rural Palika</label>
        <input type="text" class="form-control" id="validationDefault02" name="palika" required>
      </div>

      <div class="col-md-2">
        <label for="validationDefault02" class="form-label">* Ward No</label>
        <input type="number" class="form-control" id="validationDefault02" name="wardno" required>
      </div>
      <div class="col-md-2">
        <label for="validationDefault02" class="form-label">* Street Name</label>
        <input type="text" class="form-control" id="validationDefault02" name="streetname" required>
      </div>

      <div class="col-md-2">
        <label for="validationDefault02" class="form-label">House No</label>
        <input type="number" class="form-control" id="validationDefault02" name="houseno" >
      </div>

      <header class="text-black text-center">
        <img src={% static 'img/block7.jpg' %} class="img-fluid" alt='image'>
    </header>
</header>
<div class="col-md-2">
  <label for="inputState" class="form-label">* Province</label>
  <select id="inputState" class="form-select" name="provice1" required>
    <option selected>Choose...</option>
    <option>Province 1</option>
    <option>Madhesh</option>
    <option>Bagmati</option>
    <option>Gandaki</option>
    <option>Lumbini</option>
    <option>Karnali</option>
  </select>
</div>

<div class="col-md-2">
  <label for="validationDefault02" class="form-label">* District</label>
  <input type="text" class="form-control" id="validationDefault02" name="district1" required>
</div>

<div class="col-md-2">
  <label for="validationDefault02" class="form-label">* Palika/Rural Palika</label>
  <input type="text" class="form-control" id="validationDefault02" name="palika1" required>
</div>

<div class="col-md-2">
  <label for="validationDefault02" class="form-label">* Ward No</label>
  <input type="number" class="form-control" id="validationDefault02" name="wardno1" required>
</div>
<div class="col-md-2">
  <label for="validationDefault02" class="form-label">* Street Name</label>
  <input type="text" class="form-control" id="validationDefault02" name="streetname1" required>
</div>

<div class="col-md-2">
  <label for="validationDefault02" class="form-label">House No</label>
  <input type="number" class="form-control" id="validationDefault02" name="houseno1" >
</div>
    <!-- Block 8 -->
      <header class="text-black text-center">
        <img src={% static 'img/block8.jpg' %} class="img-fluid" alt='image'>
    </header>
      <div class="col-md-3">
        <label for="validationDefault02" class="form-label">Bank Name: </label>
        <input type="text" class="form-control" id="validationDefault02" name="bname" >
      </div>
      <div class="col-md-3">
        <label for="validationDefault02" class="form-label">Branch: </label>
        <input type="text" class="form-control" id="validationDefault02" name="branch" >
      </div>
      <div class="col-md-3">
        <label for="validationDefault02" class="form-label">Bank Account No.: </label>
        <input type="number" class="form-control" id="validationDefault02" name="ban" >
      </div>
      <div class="col-lg-3">
        <label for="validationDefault02" class="form-label">Registered Bank Account Ph. No.: </label>
        <input type="number" class="form-control" id="validationDefault02" name="rbn" >
      </div>

      <div class="col-lg-3">
        <input type="submit" class="form-control btn-danger" id="validationDefault02" >
      </div>
      
   </form>

{% endblock %}

